# Skip building zeromq native dependencies
zeromq_skip_binary=true
# Use legacy peer deps resolution
legacy-peer-deps=true
# Prefer offline packages
prefer-offline=true
# Skip optional dependencies
optional=false
