.controls {
    width: 51%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    border-radius: 14px;
    position: fixed;
    bottom: 60px;
    margin: 0 auto;
    padding: 15px 20px;
    z-index: 1000;
     
    .input-bkgd {
        width: 100%;
        height: 52px;
        border-radius: 10px;
        background-color: #006ce0;
        display: flex;
        align-items: center;
        padding-left: 10px;

        > div:first-child {width: 100%;}
        .awsui_button-dropdown_sne0l_ncm5v_145:not(#\9) {
            position: relative;
            left: 17px;
        }
    }
}

.toggles {
    position: fixed;
    top: 78px;
    right: 69px;
    z-index: 10;
    display: flex;
}

.panel {
    margin-top: -1px;

    > div {
        box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.13);
        border-top-left-radius: 0px!important;
        border-top-right-radius: 0px!important;
        height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
        /* Hide scrollbars across all browsers */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;  /* Chrome, Safari and Opera */
        }
    }
}
.convo {
    box-sizing: border-box;
    padding: 20px 0 60px 40px;
    height: calc(100vh - 141px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* Hide scrollbars across all browsers */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }

    .messages-container {
        margin: 0;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        > div:first-child {
            padding: 0;
            background-color: white;
        }
        ul {
            padding-top: 0;
            width: 100%;

            li {
                padding: 10px 0;
            }
        }
    }
}
.reset-chat {
    position: absolute;
    top: 87px;
    z-index: 0;
    width: calc(100% - 160px);
}
.panel-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.brea {
    display: flex;
    align-items: center;
    margin-left: 40px;
    
    /* Fix for Cloudscape BreadcrumbGroup */
    .awsui-breadcrumb-group {
        width: auto;
        display: inline-block;
    }
    
    /* Ensure breadcrumb items display properly */
    .awsui-breadcrumb-group-item {
        display: inline-block;
    }
}
