/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import '@cloudscape-design/global-styles/index.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode specific styles */
[data-mode="dark"] {
  background-color: #121212;
  color: #FFFFFF;
}

/* Light mode specific styles */
[data-mode="light"] {
  background-color: #F2F3F3;
  color: #16191F;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote {
  margin: 1em 0;
  padding-left: 20px;
  border-left: 5px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* Override for AWS UI component background */
.awsui_layout_5gtk3_lpv1b_145.awsui_is-visual-refresh_5gtk3_lpv1b_204 > .awsui_background_5gtk3_lpv1b_159.awsui_has-default-background_5gtk3_lpv1b_204:not(#\9) {
  background-color: unset !important;
}

.awsui_segment-part_8cbea_rg0r6_326:not(#\9) {
  background-color: transparent!important;
}
.awsui_segment_8cbea_rg0r6_161.awsui_selected_8cbea_rg0r6_256 + .awsui_segment_8cbea_rg0r6_161:not(#\9), .awsui_segment_8cbea_rg0r6_161.awsui_selected_8cbea_rg0r6_256 + .awsui_segment_8cbea_rg0r6_161.awsui_disabled_8cbea_rg0r6_193:not(#\9) {
  background: transparent;
}
.awsui_segment_8cbea_rg0r6_161:not(#\9):nth-child(1) {
  background: transparent;
}
