.osdu-search-results-table table {
  table-layout: fixed !important;
  width: 100% !important;
}

.osdu-search-results-table th:nth-child(1),
.osdu-search-results-table td:nth-child(1) {
  width: 40% !important;
}

.osdu-search-results-table th:nth-child(2),
.osdu-search-results-table td:nth-child(2) {
  width: 20% !important;
}

.osdu-search-results-table th:nth-child(3),
.osdu-search-results-table td:nth-child(3) {
  width: 20% !important;
}

.osdu-search-results-table th:nth-child(4),
.osdu-search-results-table td:nth-child(4) {
  width: 20% !important;
}
